DEBUG=false
DJANGO_SECRET_KEY=change-this-to-a-long-random-secret

ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com,your-ec2-public-ip
CSRF_TRUSTED_ORIGINS=https://your-domain.com,http://your-ec2-public-ip:8000

CORS_ALLOW_ALL_ORIGINS=false
CORS_ALLOWED_ORIGINS=https://your-domain.com,http://your-ec2-public-ip:8000

POSTGRES_DB=voting
POSTGRES_USER=voting
POSTGRES_PASSWORD=voting_password_change_me
DATABASE_URL=postgres://voting:voting_password_change_me@db:5432/voting
DATABASE_HOST=db
DATABASE_PORT=5432

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password

LOG_LEVEL=INFO
SESSION_COOKIE_SECURE=false
CSRF_COOKIE_SECURE=false
SECURE_SSL_REDIRECT=false
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=false
SECURE_HSTS_PRELOAD=false
X_FRAME_OPTIONS=DENY
